<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1><%= @informacao["nome"] =%></h1>
        <table align="center" class="table">
          <thead>
          <tr>
            <th>Português &emsp;</th>
            <th>Matematica &emsp;</th>
            <th>Humanas &emsp;</th>
            <th>Naturais &emsp;</th>
            <th>Redação &emsp;</th>
            <th>Endereço &emsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @informacao["enemPortugues"] =%></td>
              <td><%= @informacao["enemMatematica"] =%></td>
              <td><%= @informacao["enemHumanas"] =%></td>
              <td><%= @informacao["enemNaturais"] =%></td>
              <td><%= @informacao["enemRedacao"] =%></td>
              <td><%= @informacao["endereco"] =%></td>
            </tr>
          </tbody>
        </table>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7903.796508627612!2d<%= @informacao["longitude"] %>!3d<%= @informacao["latitude"] %>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1526952789725" width="600" height="450" frameborder="0" style="border:0" align="center" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
