<script>
    $(document).ready(function() {
        $("#content div").hide(); // Initially hide all content
        $("#tabs li:first").attr("id","current"); // Activate first tab
        $("#content div:first").fadeIn(); // Show first tab content
        $('#tabs li a').click(function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
                return
            }
            else{
                $("#content div").hide(); //Hide all content
                $("#tabs li").attr("id",""); //Reset id's
                $(this).parent().attr("id","current"); // Activate this
                $( $(this).attr('href')).fadeIn(); // Show content for current tab
            }
        });
    });
</script>

<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-9">
      <div class="jumbotron">
        <h3><%= @informacao["nome"] =%></h3>
        <table align="center" class="table">
          <thead>
          <tr>
            <th>Funcionamento</th>
            <th>Administração</th>
            <th>Localização</th>
            <th>Município</th>
            <th>Estado</th>
            <th>Endereço</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @informacao["situacaoFuncionamentoTxt"] =%></td>
              <td><%= @informacao["dependenciaAdministrativaTxt"] =%></td>
              <td><%= @informacao["tipoLocalizacaoTxt"] =%></td>
              <td><%= @informacao["nomeMunicipio"] =%></td>
              <td><%= @informacao["siglaUf"] =%></td>
              <td><%= @informacao["endereco"] =%></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="jumbotron">
        <ul class="nav nav-tabs nav-justified" id="tabs">
          <li class="nav-item active"><a data-toggle="tab" href="#tab1">Notas do ENEM</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#tab2">Infraestrutura</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#tab3">Equipamentos</a></li>
          <li class="nav-item"><a data-toggle="tab" href="#tab4">Mais</a></li>
        </ul>
        <div class="div-em-colunas">
          <div id="content">
            <div id="tab1">
              <tbody>
              <tr>
                <td><b>Português:</b> <%= @informacao["enemPortugues"].round(2) =%></td><br>
                <td><b>Matemática:</b> <%= @informacao["enemMatematica"].round(2) =%></td><br>
                <td><b>Humanas:</b> <%= @informacao["enemHumanas"].round(2) =%></td><br>
                <td><b>Naturais:</b> <%= @informacao["enemNaturais"].round(2) =%></td><br>
                <td><b>Redação:</b> <%= @informacao["enemRedacao"].round(2) =%></td><br>
                <td><b>Média Geral:</b> <%= @informacao["enemMediaGeral"].round(2) =%></td>
              </tr>
              </tbody>
            </div>
            <div id="tab2">
              <tr>
                <td><b>Sala da Diretoria:</b> <%= @informacao["salaDiretoria"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Sala dos Professores:</b> <%= @informacao["salaProfessores"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Laboratório de Informática:</b> <%= @informacao["laboratorioInformatica"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Laboratório de Ciências:</b> <%= @informacao["laboratorioCiencias"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Biblioteca:</b> <%= @informacao["biblioteca"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Sala de Leitura:</b> <%= @informacao["salaLeitura"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Parque:</b> <%= @informacao["parqueInfantil"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Banheiro:</b> <%= @informacao["sanitarioDentroPredio"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Almoxarifado:</b> <%= @informacao["almoxarifado"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Auditório:</b> <%= @informacao["auditorio"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Área Verde:</b> <%= @informacao["areaVerde"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Laboratório de Ciências:</b> <%= @informacao["laboratorioCiencias"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Laboratório de Ciências:</b> <%= @informacao["laboratorioCiencias"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Refeitório:</b> <%= @informacao["refeitorio"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Cozinha:</b> <%= @informacao["cozinha"] ? "SIM" : "NÃO" =%></td>
              </tr>
            </div>
            <div id="tab3">
              <tr>
                <td><b>Computadores:</b> <%= @informacao["computadores"] =%></td><br>
                <td><b>Internet:</b> <%= @informacao["internet"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Televisores:</b> <%= @informacao["televisores"] =%></td><br>
                <td><b>Vídeo Cassete:</b> <%= @informacao["videoCassetes"] =%></td><br>
                <td><b>DVD:</b> <%= @informacao["dvds"] =%></td><br>
                <td><b>Parabólicas:</b> <%= @informacao["parabolicas"] =%></td><br>
                <td><b>Copiadoras:</b> <%= @informacao["copiadoras"] =%></td><br>
                <td><b>Retroprojetores:</b> <%= @informacao["retroprojetores"] =%></td><br>
                <td><b>Impressoras:</b> <%= @informacao["impressoras"] =%></td><br>
                <td><b>Aparelho de som:</b> <%= @informacao["impressoras"] =%></td><br>
                <td><b>Datashow:</b> <%= @informacao["datashows"] =%></td><br>
                <td><b>Fax:</b> <%= @informacao["fax"] =%></td>
              </tr>
            </div>
            <div id="tab4">
              <tr>
                <td><b>Funcionários:</b> <%= @informacao["funcionarios"] =%></td><br>
                <td><b>Alimentação:</b> <%= @informacao["alimentacao"] ? "SIM" : "NÃO" =%></td><br>
                <td><b>Atividade complementar:</b> <%= @informacao["atividadeComplementar"] =%></td><br>
                <td><b>Nível socioeconômico:</b> <%= @informacao["socioEconomico"] =%></td>
              </tr>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <h3>Localização:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d7903.796508627612!2d<%= @informacao["longitude"] %>!3d<%= @informacao["latitude"] %>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1526952789725" width="730" height="300" frameborder="0" style="border:0" align="center" allowfullscreen></iframe>
      </div>
    </div>

    <div class="jumbotron sidebar col-md-3">
      <h3>Avaliação:</h3>
      <% soma, cont = 0, 0
         coments = [] %>
      <% @avaliacoes.each do |avaliacao| %>
        <% if (avaliacao.idEscola).to_i == (@informacao["cod"]).to_i %>
          <% soma = soma + avaliacao.nota %>
          <% cont = cont + 1 %>

          <% coments.push(avaliacao.comentario) %>

        <%end%>
      <%end%>

      <% if cont == 0 %>

        <p>Sem avaliação</p>
        <br />
      <%else %>

        <h3><%= (soma/cont) %></h3>
      <%end%>

      <%= link_to controller: "reviews", action: "new", id_escola: @informacao["cod"], nome_escola: @informacao["nome"] do %>
        <%= content_tag :span, "Avaliar Escola", :class => "btn btn-danger" %>
      <% end %>
    </div>
    <div class="jumbotron sidebar col-md-3">
      <h3>Comentátios:</h3>

      <% coments.each do |comentar| %>
        <%= comentar =%> <br/>
      <% end %>
    </div>
  </div>
</div>
