<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-9">
      <div class="jumbotron">
        <h3><%= @informacao["nome"] =%></h3>
        <table align="center" class="table">
          <thead>
          <tr>
            <th>Português &emsp;</th>
            <th>Matematica &emsp;</th>
            <th>Humanas &emsp;</th>
            <th>Naturais &emsp;</th>
            <th>Redação &emsp;</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @informacao["enemPortugues"] =%></td>
              <td><%= @informacao["enemMatematica"] =%></td>
              <td><%= @informacao["enemHumanas"] =%></td>
              <td><%= @informacao["enemNaturais"] =%></td>
              <td><%= @informacao["enemRedacao"] =%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="jumbotron sidebar col-md-3">
      <h3>Avaliação:</h3>
        <% @avaliacoes.each do |avaliacao| %>
          <% if (avaliacao.idEscola).to_i == (@informacao["cod"]).to_i %>
          <% nota = avaliacao.nota %>
            <h3><%= nota =%></h3>

          <%end%>
        <%end%>

        <%= link_to controller: "reviews", action: "new", id_escola: @informacao["cod"], nome_escola: @informacao["nome"] do %>
          <%= content_tag :span, "Avaliar Escola", :class => "btn btn-danger" %>
        <% end %>

    </div>
  </div>
</div>
