<!DOCTYPE html>
<html>
  <head>
    <title>SUAVE</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- library -->
    <%= yield :library %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="inicio" class="theme-page">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "SUAVE", root_path, class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "INICIO", root_path %></li>
              <li><%= link_to "ESCOLAS", escola_path %></li>
              <li><%= link_to "ESTATISTICAS", stats_path %></li>
              <li><%= link_to "SOBRE", sobre_path %></li>
              <li><%= link_to "CONTATO", contacts_path %></li>
              <% if user_signed_in? %>
                <div class="login-right">
                  <p class="login-text">Bem-vindo:</p>
                  <p class="login-email-text"><strong><%= current_user.name %></strong></p>
                </div>
                <li><%= link_to edit_user_registration_path, :class => 'btn-login' do %><button type="button" class="btn btn-danger">Editar perfil</button><% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete, :class => 'btn-login' do %><button type="button" class="btn btn-danger">Sair</button><% end %></li>
              <% else %>
                <li><%= link_to new_user_registration_path, :class => 'btn-login' do %><button type="button" class="btn btn-danger">Registrar-se</button><% end %></li>
                <li><%= link_to new_user_session_path, :class => 'btn-login' do %><button type="button" class="btn btn-danger">Login</button><% end %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
    <footer class="container-fluid text-center">
      <a href="#inicio" title="Subir">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <p>SUAVE - Centro de Informática, CIn</p>
    </footer>
    <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#inicio']").on('click', function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 900, function(){

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });

        $(window).scroll(function() {
          $(".slideanim").each(function(){
            var pos = $(this).offset().top;

            var winTop = $(window).scrollTop();
              if (pos < winTop + 600) {
                $(this).addClass("slide");
              }
          });
        });
      })
    </script>
  </body>
</html>
