<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div align="left">
          <h3>Envie-nos uma mensagem!</h3>
          <%= form_for @contact do |f| %>
            <%= f.text_field :name, required: true, class: "form-control login", placeholder: "Nome" %>
            <%= f.email_field :email, required: true, class: "form-control login", placeholder: "Email" %>
            <%= f.text_area :message, required: true, class: "form-control login", placeholder: "Mensagem" %>

            <div class= "hidden">
              <%= f.label :nickname %><br>
              <%= f.text_field :nickname, hint: "Deixe esse campo em branco." %>
            </div>
            <%= f.submit "Enviar", class: "btn btn-danger btn-form" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
